.container .fb-btn{
    padding: 15px 25px;
    background-color: var(--fb-button-color);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    width: 100%; 
    display: block;
    text-align: center;
}

.fa-facebook{
    margin-right: 10px;
}

.popup-form{
    background-color: rgba(74, 118, 154, 0.8);
    color: white;
}

.popup-content  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* If you want them stacked vertically */
    background-color: var(--form-bg-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    padding: 10px;

}

.popup-content .ip-details{
    height: 45px;
    margin-bottom: 10px;
    background-color: rgba(219, 219, 219, 0.2) !important;
    border: 1px solid rgba(196, 196, 196, 0.864) !important;
    border-radius: 30px;
    width: 350px;
}

.module-buttons{
    background: var(--fb-button-color);
    border: 1px solid var(--fb-button-color);
    padding: 10px;
}

::placeholder{
    font-size: 13px;
}

.suggestions-wrapper {
    position: relative; /* Allow absolute positioning for children */
}
  
/* Suggestion list styling */
.suggestions-list {
    max-height: 200px; /* Adjust this height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    background-color: var(--suggestion-list-bg-color); /* Background color of the suggestions */
    position: relative; /* Changed to relative to allow the close button to position correctly */
    z-index: 1000; /* Ensure it appears above other elements */
    padding: 10px; /* Added padding */
    margin: 5px; /* Added margin */
    list-style-type: none; /* Remove bullet points */
}
  
/* Close button styling */
.close-suggestions {
    position: absolute; /* Keep it absolute for positioning within the wrapper */
    top: -10px; /* Position it within the suggestions list */
    right: 30px; /* Position it in the corner */
    font-size: 30px;
    font-weight: bold;
    color: red;
    cursor: pointer;
    z-index: 1001; /* Ensure it appears above the suggestion list */
}
  
.close-suggestions:hover {
    color: darkred; /* Change color on hover */
}
  
.suggestions-list li {
    padding: 10px; /* Space for each item */
    cursor: pointer; /* Change cursor on hover */
}
  
.suggestions-list li:hover,
.suggestions-list li.active {
    background-color: #007bff; /* Highlight color on hover or active */
    color: white; /* Change text color for better contrast */
}

.label{
    color: var(--form-icon-label-color);
    font-weight: bold;
}

.label-icons {
    margin-right: 8px;
    margin-left: 5px; 
    font-size: 18px;
}


.popup-content .submit-btn{
    border-radius: 30px;
    padding: 10px 50px;
    font-size: 20px;
    font-weight: bold;
}


@media (max-width: 768px) {
    .container .fb-btn{
        margin-bottom: 0;
        margin-left: 0;
    }
}