.container .fb-btn{
    padding: 15px 25px;
    background-color: var(--fb-button-color);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    width: 100%; 
    display: block;
    text-align: center;
}

.fa-facebook{
    margin-right: 10px;
}

.popup-form{
    background-color: rgba(74, 118, 154, 0.8);
    color: white;
}

.popup-content  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* If you want them stacked vertically */
}

.popup-content .ip-details{
    border-radius: 30px;
    border: 1px solid black;
    width: 350px;
}

.module-buttons{
    background: var(--linear-grad-color);
    border: 1px solid var(--linear-grad-color);
    padding: 10px;
}

::placeholder{
    font-size: 13px;
}

@media (max-width: 768px) {
    .container .fb-btn{
        margin-bottom: 0;
        margin-left: 0;
    }
}