:root{
  --linear-grad-color : linear-gradient(to right, blueviolet, rgb(192, 62, 192));
  --fb-button-color : #00308F;
  --navbar-logo-color : #3498db;
  --form-bg-color: #f5f5f5db;
  /* --form-bg-color: #84bce8a7; */
  --form-icon-label-color: #383838e8;
  --suggestion-list-bg-color:#D0D0D0;
}

/* Ensure that the full height is taken */
html, body, .App, .container-fluid, .row {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Style the form wrapper */
.form-wrapper {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}
